extends ../common/layout
block title 
  link(type="text/css" rel="stylesheet" href="../../lib/swiper/css/swiper.min.css")
  title 美美蛋糕店
block content
  - var title = '美美蛋糕店';
  
  div(class="detail container")
    include ../common/header
    div(class="content")
      div(class="slide")
        .swiper-container
          .swiper-wrapper
            .swiper-slide 
              img(src="../../images/2_02.jpg")      
            .swiper-slide
              img(src="../../images/2_02.jpg")
          .swiper-pagination
      div(class="general")
        div(class="menu")
          img(src="../../images/2_05.jpg")
        div(class="main")
          h2(class="title") #{title}
          div(class="cont")
            div(class="item")
              img(src="../../images/2_08.jpg")
              strong 新华路，格林联盟酒店2楼
            div(class="item")
              img(src="../../images/2_11.jpg") 
              strong 0571-5811111
      div(class="coupon")
        span 
          em(class="del") 减
          | 优惠信息:满100只要80元+20元宝
        span 
          em(class="first") 首
          | 优惠信息:满100只要80元+20元宝
        span  
          em(class="free") 免
          | 优惠信息:满100只要80元+20元宝
      div(class="notice") 
        h3 购买须知：
        div(class="cont")
          div(class="codation") 这里是商家优惠信息的内容和使用条件
          div(class="codation") 这里是商家优惠信息的内容和使用条件
          div(class="codation") 这里是商家优惠信息的内容和使用条件
    include ../common/footer
  script(src="../../lib/swiper/js/swiper.min.js")
  script(src="../../js/detail.js")