extends ../common/layout
block content
  - var title = '商家优惠券订单';
  div(class="order container")
    include ../common/header
    div(class="content")
      div(class="item")
        div(class="title")
          div(class="No") 2016029837261
          div(class="status") 已付款
        div(class="cont")
          div(class="cont-on")
            div(class="name")
              img(src="../../images/3_03.jpg")
            div(class="item-detail")
              p(class="detail-title")
                | 美味蛋糕
              p(class="item-detail-sub detail-cont") 
                em(class="dele") 减
                | 满100只要80元+20元宝
              p(class="item-detail-sub price") 
                | 单价:¥100
                em (最多可用20元)
              p(class="item-detail-sub number") 数量：x1
          div(class="cont-down")
            span(class="message") 共1件商品 合计:80(含20元宝)
            a(class="button" href="#") 确认完成
      div(class="item")
        div(class="title")
          div(class="No") 2016029837261
          div(class="status") 已付款
        div(class="cont")
          div(class="cont-on")
            div(class="name")
              img(src="../../images/3_03.jpg")
            div(class="item-detail")
              p(class="detail-title")
                | 美味蛋糕
              p(class="item-detail-sub detail-cont") 
                em(class="dele") 减
                | 满100只要80元+20元宝
              p(class="item-detail-sub price") 
                | 单价:¥100
                em (最多可用20元)
              p(class="item-detail-sub number") 数量：x1
          div(class="cont-down")
            span(class="message") 共1件商品 合计:80(含20元宝)
            a(class="button" href="#") 确认完成
    include ../common/footer