@import "./util"
general()
	html
		font-size 62.5%
		height 100%
	body 
		font-size $rem(14px)
		height 100%
		overflow hidden
	.container
		$setFlex(,,column)
		width 100%
		height 100%
	/*头部*/
	.header
		width 100% 
		height $rem(136px)
		$setFlex()
		h1
			flex 1
			height 100%
			background  #ffc000
			color #772b00
			font-size $rem(48px)
			$setFlex()
	.content
		width 100%
		flex 2
		overflow-y auto
		overflow-x hidden
	.footer
		$setFlex()
		width 100%
		height $rem(138px)
		background #efefef
		.copyright
			flex 1		
			color #a9a9a9
			font-size $rem(33px)
			text-align center