general()
	/*头部*/
	.header h1 
		width 100%
		height 40px
		line-height 40px
		text-align center
		background  #ed7e31
		color #fff
	.content
		width 100%
	.footer
		width 100%
		text-align center
		color #64a5dd