detail()
	.detail
		.slide,.general,.recommen,.coupon,.notice,.codation
			border 1px solid #5D9DDA
			padding 5px 20px
			margin-bottom 5px
		.slide
			height 140px
			width 100%
			img
				max-width 100px
		.general
			.title
				text-align center
				font-size 14px
				color #0000ff
				margin-bottom 10px
			.cont
				overflow hidden
				font-size 12px
				.note
					color #ccc
					float left
				.tel
					color #000000
					float right
		.notice
			height 
		.codation
			padding 20px
			text-align 20px