detail()
	.detail
		.slide,.general,.recommen,.coupon,.notice,.codation
			border 0.1rem solid #5D9DDA
			padding 0.5rem 2.0rem
			margin-bottom 0.5rem
		.slide
			height 14.0rem
			width 100%
			img
				max-width 10.0rem
		.general
			.title
				text-align center
				font-size 1.4rem
				color #0000ff
				margin-bottom 1.0rem
			.cont
				display flex
				font-size 1.2rem
				.note
					color #ccc
					flex 1
					text-align left
				.tel
					color #000000
					flex 1
					text-align right
		.notice
			height 
		.codation
			padding 2.0rem
			text-align 2.0rem