list()
	.list
		.content
			.navigator
				margin-top 1.0rem
				display flex
				-webkit-flex-wrap: nowrap
			.detail
				display flex
		.navigator .sub
			flex 1
			height 4.0rem
			line-height 4.0rem
			border 0.1rem solid #5D9DDA
			border-right none
			text-align center
			.last
				border-right 1.0rem solid #5D9DDA
		.detail
			.menu
				width 20%
			.main
				width 80%
				
		.menu .sub
			width 100%
			height 3.0rem
			line-height 3.0rem
			text-align center
			color #fff
			border-bottom 0.1rem solid #fff
			background #539dcc
			a
				color #fff
		.main .item 
			display flex
			width 100%
			margin-bottom 3.0rem
				
		.main .item
			height 8.4rem
			.pic
				width 50%
				height 100%
				background #00ffdd
				text-align center
			.note
				width 50%

		.note 
			.name
				color #333
				padding 0.7rem 0
				text-align center
				font-size 1.4rem
				border 0.1rem solid #5D9DDA
				border-bottom none
				border-top none
			.service
				color #999
				padding 0.5rem 0
				text-align center
				font-size 1.2rem
				border 0.1rem solid #5D9DDA
				border-bottom none
			.extral
				padding 0.4rem 0
				color #999
				overflow hidden
				font-size 1.2rem
				border 0.1rem solid #5D9DDA
		.extral
			span
				font-size 1.4rem
				color #fff
				float left
			em
				color #b4806b
				font-size 1.4rem
				margin-left 1.0rem
				font-weight normal
			strong	
				float right 
				color #999
				margin-right  1.0rem
				font-weight normal