@import "./util"

list()
	.no-list
		text-align center
		padding $rem(50px 20px)
		font-size $rem(33px)
		border $rem(1px) solid #d9d9d9
	.list
		.content
			padding-bottom $rem(20px)
			.navigator
				margin-top 1.0rem
				display flex
				-webkit-flex-wrap: nowrap
			.detail
				$setFlex(,flex-start)
		.navigator .sub
			flex 1
			height $rem(144px)
			background white
			border-right none
			$setFlex()
			font-size $rem(40px)
			.last
				border-right 1.0rem solid #5D9DDA
		.detail
			.menu
				width 20%
			.main
				flex 2
		.menu .sub
			width 100%
			height $rem(116px)
			$setFlex()
			$setColor(#e6e6e6,#191919)
			margin-bottom $rem(2px)
			font-size $rem(40px)
			a
				$setFlex()
				color #191919
			&.selected
				$setColor(#ffc000)
				a
					$setColor(,#772b00)
		.main .item 
			$setFlex()
			border $rem(1px) solid #d9d9d9
			margin-bottom $rem(5px)
			display none
		.main .item
			.pic
				width 44.4%
				height 100%
				text-align center
				img
					max-width 100%
			.note
				flex 2
		.note
			p 
				margin-left 11.5%
				color #4b4b4b
			.name
				text-align left
				font-size $rem(33px)
				border-bottom none
				border-top none
			.service
				text-align left
				font-size $rem(30px)
				border-bottom none
			.extral
				font-size $rem(30px)
				$setFlex(space-between)
			.level
				background-image url("../images/1_05.jpg")
				background-repeat no-repeat
				background-size 100% 100%
				$setSize($rem(213px),$rem(29px))
				position relative
				left 0
				top 0
				margin $rem(10px 0px)
				margin-left 11.5%
				&:before 
					height $rem(30px)
					background-image url("../images/1_04.jpg")
					background-size $rem(213px) $rem(29px)
					background-position right top
					position absolute
					right 0
					top 0 
					content " "
			.level1
				&:before
					width $rem(42px)
			.level2
				&:before
					width $rem(84px)
			.level3
				&:before
					width $rem(126px)
			.level4
				&:before
					width $rem(168px)
			.level5
				&:before
					width $rem(213px)
		.extral
			span
				$setFlex(space-between)
			em
				flex 1
				font-weight normal
				color #f36e21
			strong	
				flex 1
				font-weight normal
				text-align center