order()
	.order
		.item
			.title
				$setSize(,$rem(106px))
				$setFlex()
				border-bottom 0.1rem solid #cbcbcb
				$setColor(#efefef,#a9a9a9)
			.cont
				padding $rem(54px 38px)
		.title 
			display flex
			padding 0.6rem 0
			.No
				flex 1
				$setColor(#efefef,#a9a9a9)
				margin-left 1.0rem
				$setText($rem(33px))
			.status
				flex 1
				$setColor(#efefef,#a9a9a9)
				margin-right 1.0rem
				text-align right
				$setText($rem(33px))
		.cont
			.cont-on,.cont-down
				$setFlex()
		.cont-on
			.name
				width 33.4%
			.item-detail
				flex 2
				text-align left
				margin-left $rem(20px)
		.name
			text-align center
			img
				max-width 100%
			h2
				height 60%
				vertical-align middle
			strong
				height 40%
				display block
				vertical-align middle
		.item-detail
			.item-detail-sub
				margin-bottom $rem(5px)
			.detail-title
				padding $rem(10px 0 10px 0)
				$setColor(,#000)
				$setText($rem(33px))
			.detail-cont
				font-size 1.4rem
				color #ED7E31
				border none
				$setText($rem(33px))
				$setColor(,#a9a9a9)
			.dele
				$setSize($rem(40px),$rem(40px),inline-block)
				text-align center
				line-height $rem(40px)
				vertical-align middle
				$setColor(#ff635b,#ffffff)
				border-radius $rem(5px)
			.price
				font-size 1.2rem
				$setColor(,#000000)
				$setText($rem(33px))
				em
					$setColor(,#a9a9a9)
			.number
				
				font-size 1.2rem
				$setColor(,#000000)
				$setText($rem(33px))
		.cont-down
			margin-top $rem(40px)
			$setFlex(space-between)
			.message
				flex 2
				color #000000
				$setText($rem(33px))
			.button
				text-align center
				line-height $rem(72px)
				border-radius $rem(5px)
				$setSize(29.3%,$rem(72px))
				$setColor(#ffc000,#772b00)
				$setText($rem(33px))