order()
	.order
		.item
			border 1px solid #5D9DDA
			margin-top 5px
			.title
				border-bottom 1px solid #5d9dda
			.cont
				padding 20px
		.title 
			overflow hidden
			height 28px
			line-height 28px
			.No
				float left
				color #0000ff
				margin-left 10px
			.status
				float right
				color #ED7E31
				margin-right 10px
		.cont
			.cont-on
				overflow hidden
			.cont-down
				margin-top 10px
		.cont-on
			.name
				float left
				width 88px
				height 88px
				line-height 80px
				background #aadd00
			.detail
				float right
		.detail
			.title
				font-size 14px
				color #ED7E31
				border none
			.price
				font-size 12px
				color #0000ff
			.number
				font-size 12px
				color #0000ff
		.cont-down
			overflow hidden
			text-align center
			.message
				width 40%
				height 32px
				line-height 32px
				background #5D9DDA
				color #fff
				display inline-block
				padding 0 10px
			.button
				
				width 20%
				height 30px
				line-height 30px
				border 1px solid #ED7E31
				color #ED7E31
				display inline-block